@import "tailwindcss";

@theme {
  --color-primary: #2EBD8C;
  --color-primary-dark: #1A6B45;
  --color-primary-light: #EAF8F0;
  --color-sidebar: #1A6845;
  --color-border: #E5E7EB;
}

:root {
  --background: #F9FAFB;
  --foreground: #111827;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
